<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.th.marketgod.mapper.CommentMapper">
    <select id="pagec" resultType="com.th.marketgod.entity.Comment">
        SELECT c.*,
               u.name   AS username,
               u.image  AS userimage,
               g.goodsname AS goodsname
        FROM comment c
                 JOIN `user` u   ON u.id = c.userid
                 JOIN goods g    ON g.id = c.goodsid
        ORDER BY c.created_at DESC
            ${ew.customSqlSegment}
    </select>
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.th.marketgod.entity.Comment">
        <id column="userid" property="userid" />
        <result column="goodsid" property="goodsid" />
        <result column="rate" property="rate" />
        <result column="message" property="message" />
        <result column="created_at" property="createdAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        userid, goodsid, rate, message, created_at
    </sql>

</mapper>
